@import "card.css";
@import "spinner.css";

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vW;
    height: 100vH;
}
.card-header img {
    width: 100px;
    margin-right: 10px;
    user-select: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.login_btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button.mfa_btn:hover {
    background-color: #327536;
}

button.mfa_btn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

button.login_btn:hover {
    background-color: #327536;
}

span.error_message {
    color: #ff2828;
    text-align: center;
}

.login_links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login_links a {
    text-decoration: none;
    cursor: pointer;
}

.login_links a:hover {
    text-decoration: underline;
}

.step_2fa > span {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

.twoFA_input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
}

.twoFA_input input[type=number] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    text-align: center;
    font-size: 24px;
    padding: 15px 10px;
    border: solid 4px #88888888;
    border-radius: 10px;
}

.twoFA_input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.twoFA_input input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
